<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GeoWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- {0}: The URL-encoded query to perform. -->
  <!-- {1}: The API key that will be used for request validation. -->
  <applicationSettings>
    <GeoWeather.Properties.Settings>
      <setting name="LocationQueryUriFormatString" serializeAs="String">
        <value>http://dev.virtualearth.net/REST/v1/Locations/{0}?o=json&amp;key={1}</value>
      </setting>
      <setting name="RadarBaseUri" serializeAs="String">
        <value>https://radar.weather.gov/ridge/RadarImg/</value>
      </setting>
      <setting name="OverlayBaseUri" serializeAs="String">
        <value>https://radar.weather.gov/ridge/Overlays/</value>
      </setting>
      <setting name="BaseReflectivityFormatString" serializeAs="String">
        <value>N0R/{0}_N0R_0.gif</value>
      </setting>
      <setting name="StormRelativeMotionFormatString" serializeAs="String">
        <value>N0S/{0}_N0S_0.gif</value>
      </setting>
      <setting name="OneHourPrecipitationFormatString" serializeAs="String">
        <value>N1P/{0}_N1P_0.gif</value>
      </setting>
      <setting name="TopographyFormatString" serializeAs="String">
        <value>Topo/Short/{0}_Topo_Short.jpg</value>
      </setting>
      <setting name="CountyBoundariesFormatString" serializeAs="String">
        <value>County/Short/{0}_County_Short.gif</value>
      </setting>
      <setting name="RiversFormatString" serializeAs="String">
        <value>Rivers/Short/{0}_Rivers_Short.gif</value>
      </setting>
      <setting name="HighwaysFormatString" serializeAs="String">
        <value>Highways/Short/{0}_Highways_Short.gif</value>
      </setting>
      <setting name="CitiesFormatString" serializeAs="String">
        <value>Cities/Short/{0}_City_Short.gif</value>
      </setting>
    </GeoWeather.Properties.Settings>
  </applicationSettings>
</configuration>